html,
body {
  font-size: 24px;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.home {
  h1.header {
    position: relative;
    font-size: 3.5em;
    margin-top: 20px;
    margin-bottom: 5px;
  }
}
#bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #009FDA;
}
#math {
  font-size: 2.5em;
  margin-top: -5em;
}
#fg {
  position: absolute;
  left: 0;
  right: 0;
  top: 300px;
  bottom: 0;
  background-color: #ffffff;
}

.ui.page.grid.home > .column {
  display: table;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: black; 
}

.stripe {
  height: 20px;
}

.number {
  &.msection {
    float: left;
    padding-right: 15px;
    margin-top: -3px; 
  }
  font-size: 2em;
  font-weight: 100;
}

.msection.description {
  font-size: 0.8em;
  font-weight: 100;
}

.masthead {
  height: 90px;  
  color: white;
  background-color: #009FDA;
  a {
    color: white;
  }
}

.topic.title {
  text-align: center;
  color: black;
  font-size: 1
}

.image {
  margin-top: 15px;
  img {
    width: 100%;
  }
}

.def-body p {
  font-size: 15pt;
}

.section.header span{
  font-weight: 100;
}

.proposition.item {
  text-align: center;
  min-height: 0px !important;
}

.masthead.segment .breadcrumb {
  color: white;
  margin-top: -26px;
  //margin-left: 38px;
  background-color: #009FDA;
  i {
    color: white;
  }
}

.ui.section.header {
  margin-bottom: 0 !important;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #FFFFFF;
  margin: 0 auto;
  margin-top: -25px;
}
