<template name="proposition">
  <div class="masthead segment">
    <div class="ui page grid">
      <div class="ui column">
        <h1 class="ui section header">{{capitalize proposition.type}} <span>{{section.number}}.{{proposition.number}}</span></h1>
        <div class="ui small breadcrumb">
          <i class="left arrow icon divider"></i>
          <a class="section" href="/topics/{{topic.encodedname}}">{{topic.name}}</a>
          <i class="left arrow icon divider"></i>
          <a class="section" href="/topics/{{topic.encodedname}}/{{section.encodedname}}">{{section.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="stripe"></div>
  <div class="ui page grid">
    <div class="ui column">
    {{#mathjax}}
    <div class="ui blue segment prop-statement">
        {{proposition.statement}}
    </div>
    <div class="ui horizontal divider"> Proof </div>
    <div class="prop-proof">{{{proposition.proof}}}</div>
    {{/mathjax}}
    </div>
  </div>
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Add an annotation
  </div>
  <div class="content">
    <div class="left">
      <div class="ui input">
        <textarea cols="40" rows="20" placeholder="My awesome explanation..."></textarea>
      </div>
    </div>
    <div class="right">
      <h2 class="header">Previous annotations</h2>
      <div id="ann-container"></div>
      
    </div>
  </div>
  <div class="center aligned">
    <div class="negative ui button">Cancel</div>
    <div class="positive ui button">OK</div>
  </div>
</div>
  <script source="/prop.js"></script>
</template>
