<template name="section">
  <div class="masthead segment">
    <div class="ui page grid">
      <div class="ui column">
        <h1 class="ui section header"><span>{{section.number}}</span> {{section.name}}</h1>
        <div class="ui small breadcrumb">
          <i class="left arrow icon divider"></i>
          <a class="section" href="/topics/{{topic.encodedname}}">{{topic.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="stripe"></div>
  <div class="ui page center grid">
    <div class="ui column">
      <div class="ui dividing header">
        Definitions
      </div>
      <ul>
      {{#each definitions}}
        {{> definition_inline}}
      {{/each}}
      </ul>
      <div class="ui dividing header">
        Propositions
      </div>
      <div class="ui stackable items">
      {{#each propositions}}
        <div class="proposition item">
          <a href="/topics/{{../topic.encodedname}}/{{../section.encodedname}}/{{number}}">
            <div class="content">
              <div class="header">{{capitalize type}}</div>
              <div class="proposition number">{{../section.number}}.{{number}}</div>
            </div>
          </a>
        </div>
      {{/each}}
      </div>
    </div>
  </div>

</template>
